extends ../layouts/common

block content


  h2 Update Name
  form(action="/users/update", method="POST")
    lable New Name:
    br
    input(type="hidden", name="id", value=id)
    input(type="text", name="name")
    button Update